<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CRUD Project</display-name>
  <welcome-file-list>
    <welcome-file>useronline.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>com.company.controller.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/ProductController.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>UserProductController</servlet-name>
    <servlet-class>com.company.controller.UserProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProductController</servlet-name>
    <url-pattern>/UserProductController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegisterController</servlet-name>
    <servlet-class>com.company.controller.UserRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterController</servlet-name>
    <url-pattern>/UserRegisterController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserEditRegisterController</servlet-name>
    <servlet-class>com.company.controller.UserEditRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditRegisterController</servlet-name>
    <url-pattern>/UserEditRegisterController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryController</servlet-name>
    <servlet-class>com.company.controller.CategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryController</servlet-name>
    <url-pattern>/CategoryController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserCategoryController</servlet-name>
    <servlet-class>com.company.controller.UserCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCategoryController</servlet-name>
    <url-pattern>/UserCategoryController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupplierController</servlet-name>
    <servlet-class>com.company.controller.SupplierController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierController</servlet-name>
    <url-pattern>/SupplierController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidationUserController</servlet-name>
    <servlet-class>com.company.controller.ValidationUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidationUserController</servlet-name>
    <url-pattern>/ValidationUserController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddUserController</servlet-name>
    <servlet-class>com.company.controller.AdminAddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserController</servlet-name>
    <url-pattern>/AdminAddUserController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminRegisterController</servlet-name>
    <servlet-class>com.company.controller.AdminRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegisterController</servlet-name>
    <url-pattern>/AdminRegisterController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminManageController</servlet-name>
    <servlet-class>com.company.controller.AdminManageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManageController</servlet-name>
    <url-pattern>/AdminManageController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSetController</servlet-name>
    <servlet-class>com.company.controller.AdminSetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSetController</servlet-name>
    <url-pattern>/AdminSetController.do</url-pattern>
  </servlet-mapping>
</web-app>